.modal {
  width: 450px;
  background-color: #fff;
  box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 20px 0;
}

.form {
  min-height: 160px;
  justify-content: space-between;
  padding: 10px 0;
}