@use '../../scss/mixins.scss' as *;
@use '../../scss/variables.scss' as *;

.input {
  width: 400px;
  height: 40px;
  @include text (14px, 400, $black-text);
  outline: none;
  padding: 0 12px;
  border: 1px solid #CDCDCD;
  border-radius: 2px;
  margin-top: 5px;

  &:hover {
    border: 1px solid $gray-text;
    transition: 0.3s;
  }

  &:focus {
    border: 1px solid $black-text;
  }
}
