@use 'scss/mixins.scss' as *;
@use 'scss/variables.scss' as *;

.confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 320px;
  height: 198px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.15);
  padding: 25px;
  z-index: 100;

  &__title-container {
    @include text (20px, 400, $black-text);
  }

  &__description {
    font-size: 14px;
    margin-top: 15px;
  }

  &__btns-container {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 50%;
    max-width: 73px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    @include text (16px, 600, $black-text);

    &_cancel {
      color: $disabled;
    }

    &_delete {
      color: $menu-bg;
    }
  }
}