@import-normalize;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fw-400 {
  font-weight: 400;
}

.width-150 {
  width: 150px;
}