$menu-bg: #82B284;
$aside-bg: #F7F7F7;
$hovered-btn: #98C88C;
$pressed-btn: #58A742;
$active-link: #A4C7A5;

$gray-text: #808080;
$black-text: #3B3B3B;

$disabled: #B9B9B9;

$delete: #D95151;